#logo {
  background-image: url(images/logo.png);
  background-repeat: no-repeat;
  background-position: left top;
}
.modular-row img {
  margin-left: 20px;
  margin-right: 20px;
  height: 50px;
}
body {
  font-size: 1.1rem;
}
